{
	"presets": [
		// doc: https://babeljs.io/docs/en/babel-preset-env
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"modules": false,
				"debug": false,
				"forceAllTransforms": true,
				"corejs": 3,
				"targets": {
					"browsers": ["last 2 major versions", "safari >= 9", "IE >= 10"]
				}
			}
		]
	],
	"plugins": [
		["@babel/plugin-transform-runtime", { "corejs": 3 }],
		"@babel/plugin-syntax-dynamic-import",
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread"
	]
}
